TIMEOUT=1
GRAPHICS=no
VERBOSE=yes
RANDOMISE_MEMORY=yes
INTERFACE_BRANDING=Oro Operating System
INTERFACE_BRANDING_COLOR=5
SERIAL=yes

:Oro Operating System
PROTOCOL=limine
KERNEL_PATH=boot:///oro-limine
#MODULE_PATH=boot:///oro-kernel
#MODULE_CMDLINE=
SERIAL=yes
